src/Win64/Debug/BuilderUISettings.json
src/Win32/Debug/BuilderUISettings.json
src/Win32/Debug/BuilderUISettings.json
src/Win32/Release/BuilderUISettings.json
__history/README.md.~1~
src/Win32/Debug/BuilderUISettings.json
